<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">

<div layout:fragment="main_content" style="width: 50%">
    <form th:action="@{'/edit'}" method="post">
        <input name="id" hidden th:value="${laptop.getId()}">
        <div class="mb-3 mt-5">
            <label for="modelName" class="form-label">Model</label>
            <input name="model" type="text" class="form-control" id="modelName"
                   placeholder="Model" th:value="${laptop.getModel()}">
        </div>
        <div class="mb-3">
            <label for="count" class="form-label">Count</label>
            <input name="count" class="form-control" id="count" placeholder="5" th:value="${laptop.getCount()}"/>
        </div>
        <div class="mb-4">
            <label for="price" class="form-label">Price</label>
            <input name="price" class="form-control" id="price" placeholder="50000" th:value="${laptop.getPrice()}"/>
        </div>
        <br>

        <button class="btn btn-primary" type="submit">SAVE</button>
    </form>
</div>
</html>