<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<div layout:fragment="main_content" style="width: 50%">
    <div class="row mt-5">
        <div class="container">
            <form th:action="@{'/users/edituser'}" method="post">
                <input name="id" hidden th:value="${user.getId()}">
                <div class="mb-3 mt-5">
                    <label for="fullname" class="form-label">Fullname</label>
                    <input name="fullname" type="text" class="form-control" id="fullname"
                           placeholder="FIO" th:value="${user.getFullname()}">
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">Login</label>
                    <input name="username" class="form-control" id="username" placeholder="username" th:value="${user.getUsername()}"/>
                </div>
                <div class="mb-4">
                    <label for="role" class="form-label">ROLE</label>
                    <select id="role" name="role" class="form-select" aria-label="Default select example">
                        <option th:each="role: ${roles}" th:value="${role.id}"
                                th:text="${role.getName()}" th:selected="${role.id}==${selectedRoleId}"></option>
                    </select>
                </div>
                <br>

                <button class="btn btn-primary" type="submit">Submit</button>

                <a th:href="@{'/users/reset-password/' + ${user.username}}" class="btn btn-warning">Reset password</a>
            </form>
        </div>
    </div>
</div>
</html>