<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">

<div layout:fragment="main_content" style="width: 50%">
    <div class="row mt-5">
        <div class="container">
            <form th:action="@{'/edit'}" method="post">
                <input name="id" hidden th:value="${laptop.getId()}">
                <div class="mb-3 mt-5">
                    <label for="modelName" class="form-label">Model</label>
                    <input name="model" type="text" class="form-control" id="modelName"
                           placeholder="Model" th:value="${laptop.getModel()}">
                </div>
                <div class="mb-3">
                    <label for="count" class="form-label">Count</label>
                    <input name="count" class="form-control" id="count" placeholder="5"
                           th:value="${laptop.getCount()}"/>
                </div>
                <div class="mb-4">
                    <label for="price" class="form-label">Price</label>
                    <input name="price" class="form-control" id="price" placeholder="50000"
                           th:value="${laptop.getPrice()}"/>
                </div>
                <div class="mb-4">
                    <label for="country" class="form-label">Country</label>
                    <select id="country" name="country" class="form-select" aria-label="Default select example">
                        <option th:each="country: ${countries}" th:value="${country.id}"
                                th:text="${country.getName()}"></option>
                    </select>
                </div>
                <br>

                <button class="btn btn-primary" type="submit">SAVE</button>
            </form>
        </div>
    </div>

    <div class="row mt-5">
        <div class="container">
            <table class="table table-striped table-hover">
                <tr th:if="laptop.markets != null" th:each="market : ${laptop.markets}">
                    <form th:action="@{'/delete-market'}" method="post">
                        <input hidden th:name="laptop_id" th:value="${laptop.id}">
                        <input hidden th:name="market_id" th:value="${market.id}">
                        <td th:text="${market.getName()}"></td>
                        <td class="text-end">
                            <button class="btn btn-danger btn-small">-</button>
                        </td>
                    </form>
                </tr>
            </table>
        </div>
    </div>

    <div class="row mt-5">
        <div class="container">
            <table class="table table-striped table-hover">
                <tr th:each="market : ${markets}">
                    <form th:action="@{'/assign-market'}" method="post">
                        <input hidden th:name="laptop_id" th:value="${laptop.id}">
                        <input hidden th:name="market_id" th:value="${market.id}">
                        <td th:text="${market.getName()}"></td>
                        <td class="text-end">
                            <button class="btn btn-success btn-small">+</button>
                        </td>
                    </form>
                </tr>
            </table>
        </div>
    </div>
</div>
</html>