<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
    <div layout:fragment="main_content">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Model</th>
                <th scope="col">Count</th>
                <th scope="col">Price</th>
                <th scope="col">Country</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="laptop : ${products}">
                <th scope="row" th:text="${laptop.id}"></th>
                <td th:text="${laptop.getModel()}"></td>
                <td th:text="${laptop.getCount()}"></td>
                <td th:text="${laptop.getPrice()} + ' KZT'"></td>
                <td></td>

                <td><a th:href="@{'edit/' + ${laptop.getId()}}" type="button" class="btn btn-info">Edit</a></td>
                <td>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="">
                        Delete
                    </button>

                    <div class="modal fade" id="" tabindex="-1"
                         aria-labelledby="deleteModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form action="delete" method="post">
                                    <input hidden name="id" value="">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="deleteModalLabel">

                                        </h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Do you want to delete product ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Close
                                        </button>
                                        <button type="submit" class="btn btn-danger">
                                            Delete
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</html>
