<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div layout:fragment="main_content">
    <div class="row mt-5">
        <div class="container">
            <form th:action="@{'/registration/add'}" method=post>
                <div class="form-group">
                    <label>FullName : </label>
                    <input name="user_fullname" type="text" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Username : </label>
                    <input name="user_username" type="username" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Password : </label>
                    <input name="user_password" type="password" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Re-Password : </label>
                    <input name="user_repassword" type="password" class="form-control" required>
                </div>
                <br>
                <div class="form-group">
                    <button class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</html>