<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<div layout:fragment="main_content" style="width: 50%">
    <div class="row mt-5">
        <div class="container">
            <form th:action="@{'registration'}" method="post">
                <div class="mb-3 mt-5">
                    <label for="login" class="form-label">Login</label>
                    <input name="login" type="text" class="form-control" id="login"
                           placeholder="Username">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input name="password" class="form-control" id="password" placeholder="*****"/>
                </div>
                <div class="mb-3">
                    <label for="fio" class="form-label">FIO</label>
                    <input name="fio" class="form-control" id="fio" placeholder="ФИО"/>
                </div>
                <br>

                <button class="btn btn-primary" type="submit">ADD</button>
            </form>
        </div>
    </div>
</div>
</html>